# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Backend API URL
# Local development: use your machine's local IP
# Production: use your AWS server URL
EXPO_PUBLIC_API_URL=http://192.168.0.159:8080
