src/training/checkpoints/
src/training/logs/
src/models/depth_anything/assets/
src/models/pytorch_mask_rcnn/data/
!src/models/pytorch_mask_rcnn/data/7class_maskrcnn_dataset.zip
**/__pycache__/
*.pth
*.pt
*.ckpt
*.mp4
*.avi
*.pdf
*.png
*.jpg
*.jpeg
RTX3060_Driver_*.exe

logs/
checkpoints/

nul

